@model IEnumerable<LivrariaControleEmprestimo.DATA.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus-circle"></i> Novo livro</a>
</p>
<table id="listLivrosTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
                <td class="d-flex justify-content-start">
                    <a asp-action="Edit" class="btn btn-warning mr-1" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-primary mr-1" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#DeleteModal-@item.Id">
                        <i class="fa fa-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteModalLabel">Excluir livro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente excluir o livro @item.Nome ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Inicializando DataTable
            $('#listLivrosTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });

            console.log("Document ready. DataTable e modals devem estar funcionando.");
        });
    </script>
}