@model EmprestimoViewModel

<h4>Emprestimo</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campos escondidos para armazenar IDs selecionados -->
            <div hidden class="form-group">
                <input type="hidden" id="ClienteId" name="idCliente" asp-for="idCliente" class="form-control" />
            </div>
            <div hidden class="form-group">
                <input type="hidden" id="LivroId" name="idLivro" asp-for="idLivro" class="form-control" />
            </div>

            <!-- Tabela de Clientes -->
            <div class="card">
                <div class="card-header">Cliente</div>
                <div class="card-body">
                    <table id="listClientesTable" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.cliente.Cpf)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.TelefoneCelular)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.TelefoneFixo)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listClientes)
                             {
                                <tr onclick="passIdCliente('@item.ClienteId')" data-id="@item.ClienteId">
                                    <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TelefoneCelular)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TelefoneFixo)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />

            <!-- Tabela de Livros -->
            <div class="card">
                <div class="card-header">Livro</div>
                <div class="card-body">
                    <table id="listLivrosTable" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.livro.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Autor)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Editora)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.AnoPublicacao)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Edicao)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listLivros)
                            {
                                <tr onclick="passIdLivro('@item.LivroId')" data-id="@item.LivroId">
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Editora)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AnoPublicacao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Edicao)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />

            <!-- Datas de Empréstimo -->
            <div class="card">
                <div class="card-header">Datas</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="dataEmprestimo" class="control-label"></label>
                            <input readonly="readonly" asp-for="dataEmprestimo" class="form-control" />
                            <span asp-validation-for="dataEmprestimo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="dataEntrega" class="control-label"></label>
                            <input asp-for="dataEntrega" class="form-control" />
                            <span asp-validation-for="dataEntrega" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <!-- Botão de Inclusão -->
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Inicializando DataTables
            const clientesTable = $('#listClientesTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });

            const livrosTable = $('#listLivrosTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });

            // Seleção de Cliente
            $('#listClientesTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#idCliente').val(''); // Limpa o campo
                } else {
                    clientesTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#idCliente').val($(this).data('id'));
                }
            });

            // Seleção de Livro
            $('#listLivrosTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#idLivro').val(''); // Limpa o campo
                } else {
                    livrosTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#idLivro').val($(this).data('id'));
                }
            });
        });

        function passIdCliente(idCliente) {
            document.getElementById('idCliente').value = idCliente;
        }


        function passIdLivro(idLivro) {
            document.getElementById('idLivro').value = idLivro;
        }

    </script>
}
