@model EmprestimoViewModel

<h4>Emprestimo</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card">
                <div class="card-header">Cliente</div>
                    <div class="card-body">
                        <table id="listClientesTable" class="table">
                <thead>
                    <tr>
                        <th>
                                    @Html.DisplayNameFor(model => model.cliente.Cpf)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.cliente.Nome)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.cliente.TelefoneCelular)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.cliente.TelefoneFixo)
                        </th>
                    </tr>
                </thead>
                <tbody>
                            @foreach (var item in Model.listClientes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cpf)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TelefoneCelular)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TelefoneFixo)
                                    </td>
                                </tr>
                            }
                </tbody>
            </table>

                    </div>
                </div>


            <!--LIVROS-->

            <div class="card">
                <div class="card-header">Livro</div>
                <div class="card-body">
                                <table id="listLivrosTable" class="table">
                <thead>
                    <tr>
                        <th>
                                    @Html.DisplayNameFor(model => model.livro.Nome)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.livro.Autor)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.livro.Editora)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.livro.AnoPublicacao)
                        </th>
                        <th>
                                    @Html.DisplayNameFor(model => model.livro.Edicao)
                        </th>
                    </tr>
                </thead>
                <tbody>
                            @foreach (var item in Model.listLivros)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Autor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Editora)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnoPublicacao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Edicao)
                                    </td>
                                </tr>
                            }
                </tbody>
            </table>

            </div>
            </div>
            <div class="card">
                <div class="card-header">Datas</div>
                    <div class="card-body row">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="dataEmprestimo" class="control-label"></label>
                                <input asp-for="dataEmprestimo" class="form-control" />
                                <span asp-validation-for="dataEmprestimo" class="text-danger"></span>
                            </div>
                       <div/>
                   <div class="col-md">
                        <div class="form-group">
                            <label asp-for="dataEntrega" class="control-label"></label>
                            <input asp-for="dataEntrega" class="form-control" />
                            <span asp-validation-for="dataEntrega" class="text-danger"></span>
                        </div>
                   </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
        <script>
            $(document).ready(function () {
                // Inicializando DataTable
                $('#listClientesTable').DataTable({
                    language: {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                    }
                });
                $('#listLivrosTable').DataTable({
                    language: {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                    }
                });
                console.log("Document ready. DataTable e modals devem estar funcionando.");
            });
        </script>
}