@model LivrariaControleEmprestimo.WEB.Models.EmprestimoViewModel

<h4>Emprestimo</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-left"></i> Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-4 p-0">
                <div class="card">
                    <div class="card-header">Livro devolvido</div>
                    <div class="card-body">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="flexCheckDefault"
                                   checked="@Model.emprestimo.Entregue.GetValueOrDefault()">
                            <label class="form-check-label" for="flexCheckDefault">
                                Devolvido
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <br />

            <!-- Campos ocultos -->
            <div class="form-group">
                <input type="hidden" asp-for="emprestimo.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="emprestimo.IdCliente" id="idCliente" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="emprestimo.IdLivro" id="idLivro" class="form-control" />
            </div>

            <!-- Tabela de Clientes -->
            <div class="card">
                <div class="card-header">Cliente</div>
                <div class="card-body">
                    <table id="listClientesTable" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.cliente.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.Cpf)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.TelefoneCelular)</th>
                                <th>@Html.DisplayNameFor(model => model.cliente.TelefoneFixo)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listClientes)
                            {
                                <tr data-id="@item.Id">
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TelefoneCelular)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TelefoneFixo)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />

            <!-- Tabela de Livros -->
            <div class="card">
                <div class="card-header">Livro</div>
                <div class="card-body">
                    <table id="listLivrosTable" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.livro.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Autor)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Editora)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.AnoPublicacao)</th>
                                <th>@Html.DisplayNameFor(model => model.livro.Edicao)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listLivros)
                            {
                                <tr data-id="@item.Id">
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Editora)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AnoPublicacao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Edicao)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />

            <!-- Datas -->
            <div class="card">
                <div class="card-header">Datas</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="emprestimo.DataEmprestimo" class="control-label"></label>
                            <input readonly="readonly" asp-for="emprestimo.DataEmprestimo" class="form-control" />
                            <span asp-validation-for="emprestimo.DataEmprestimo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="emprestimo.DataEntrega" class="control-label"></label>
                            <input asp-for="emprestimo.DataEntrega" class="form-control" />
                            <span asp-validation-for="emprestimo.DataEntrega" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Inicializar DataTables
            const clientesTable = $('#listClientesTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });

            const livrosTable = $('#listLivrosTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });

            // Seleção de Cliente
            $('#listClientesTable tbody').on('click', 'tr', function () {
                const idCliente = $(this).data('id');
                $('#idCliente').val(idCliente);

                $('#listClientesTable tbody tr').removeClass('selected');
                $(this).addClass('selected');
            });

            // Seleção de Livro
            $('#listLivrosTable tbody').on('click', 'tr', function () {
                const idLivro = $(this).data('id');
                $('#idLivro').val(idLivro);

                $('#listLivrosTable tbody tr').removeClass('selected');
                $(this).addClass('selected');
            });

            // Selecionar linhas já configuradas
            const selectedClienteRow = $('#listClientesTable tbody tr[data-id="' + @Model.emprestimo.IdCliente + '"]');
            if (selectedClienteRow.length > 0) {
                selectedClienteRow.addClass('selected');
            }

            const selectedLivroRow = $('#listLivrosTable tbody tr[data-id="' + @Model.emprestimo.IdLivro + '"]');
            if (selectedLivroRow.length > 0) {
                selectedLivroRow.addClass('selected');
            }
        });
    </script>
}
